<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aaron.fluentspeak" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".base.BaseApplication">
        <activity
            android:name=".module.main.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".module.imageloader.ImageLoaderActivity"
            android:label="@string/activity_image_loader_name"/>
        <activity android:name=".module.animation.CountDownAnimationActivity"
            android:label="@string/activity_count_down_animation_name"/>
        <activity android:name=".module.xiaomi.XiaomiWeatherActivity"
            android:label="@string/activity_xiaomi_weather_name"/>
    </application>

</manifest>
